._*
.DS_Store
*.gem
*.log
*.sqlite3
*.sw?
**/._*
pkg
rerun.txt
.bundle
.rvmrc
bundle
# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

# these are needed to remove some file copying clutter
# that comes out of testing and is not intended to be checked in
examples/rails_root/features/step_definitions/email_steps.rb
examples/rails_root/vendor/plugins/email_spec
examples/rails3_root/features/step_definitions/email_steps.rb
examples/rails3_root/vendor/plugins/email_spec
examples/sinatra_root/features/step_definitions/email_steps.rb
